.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(211, 203, 188);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }
    
    img {
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 35px;
    object-fit: cover;
    }
}

.player-active {
    background-color: rgb(252, 182, 53) !important;
}